---
import { Facebook } from 'lucide-astro'

import Box from '@components/Box/Box.astro'
import Button from '@components/Button/Button.astro'
import Text from '@components/Text/Text.astro'

import styles from './Footer.module.css'

const currentYear = new Date().getFullYear()
---

<Box
  width="full"
  px={[16, 64]}
  py={20}
  align="center"
  justify="center"
  class={styles.footer}
>
  <Box
    direction={['column', 'row']}
    gap={24}
    justify="space-between"
    align="center"
    class={styles.footerContent}
  >
    <Text variant="body-small">©{currentYear} Pogodna Jesień Sp.z o o.</Text>
    <Text variant="body-small" textAlign="center"
      >Zezwolenie Wojewody Śląskiego na prowadzenie całodobowej opieki nad
      osobami niepełnosprawnymi i starszymi nr: PS.II.9041/2/10
    </Text>
    <Button
      variant="iconGhost"
      href="https://www.facebook.com/pensjonatpogodnajesien"
      aria-label="facebook link"
    >
      <Facebook />
    </Button>
  </Box>
</Box>
