---
import Box from "../../../components/Box/Box.astro";
import Text from "../../../components/Text/Text.astro";
import Button from "../../../components/Button/Button.astro";

interface Props {
    title: string;
    price: string;
}

const {title, price} = Astro.props;
---

<Box direction="column" justify="center" align="center" gap={[24, 32]} borderRadius="lg" bgColor="neutral_lightest"
     px={[24, 32]} py={32}>
    <Box direction="column" justify="center" align="center" gap={8}>
        <Text variant="heading-6">{title}</Text>
        <Text variant="heading-1">{price}</Text>
    </Box>
    <slot/>
    <Button variant="primary">Dowiedz się więcej</Button>
</Box>
