---
import Box from '@components/Box/Box.astro'
import Button from '@components/Button/Button.astro'
import Text from '@components/Text/Text.astro'

interface Props {
  title: string
  price: string
  period: string
}

const { title, price, period } = Astro.props
---

<Box
  direction="col"
  justify="center"
  align="center"
  gap={[24, 32]}
  borderRadius="lg"
  isWithBorder={false}
  bgColor="neutral-lightest"
  px={[24, 32]}
  py={32}
>
  <Box direction="col" justify="center" align="center" gap={8}>
    <Text variant="heading-6" tag="p">{title}</Text>
    <Box direction="col" width="full" align="center">
      <Text variant="heading-2" tag="p">{price}</Text>
      <Text variant="body-regular">{period}</Text>
    </Box>
  </Box>
  <slot />
  <Button variant="primary" href="#kontakt">Dowiedz się więcej</Button>
</Box>
