.heroWrapper {
    margin-top: 84px;
}

.heroCopyElement {
    flex: 1;
}

.heroImage {
    width: 100%;
    height: auto;
    max-width: 100%;
    object-fit: cover;
    max-height: 450px;

    @media (min-width: 1920px) {
        max-height: 600px;
    }
}
