@import 'tailwindcss';

@theme {
    /* Color */
    --color-neutral-white: rgb(255, 255, 255);
    --color-neutral-lightest: rgb(242, 242, 242);
    --color-neutral-lighter: rgb(218, 217, 218);
    --color-neutral-light: rgb(181, 179, 181);
    --color-neutral: rgb(132, 129, 132);
    --color-neutral-dark: rgb(82, 78, 82);
    --color-neutral-darker: rgb(33, 28, 33);
    --color-neutral-darkest: rgb(9, 3, 9);

    --color-luxor-gold-lightest: rgb(245, 243, 235);
    --color-luxor-gold-lighter: rgb(236, 231, 215);
    --color-luxor-gold-light: rgb(190, 171, 115);
    --color-luxor-gold: rgb(163, 136, 55);
    --color-luxor-gold-dark: rgb(130, 108, 44);
    --color-luxor-gold-darker: rgb(65, 54, 22);
    --color-luxor-gold-darkest: rgb(48, 40, 16);

    /* Radius */
    --radius-sm: 24px;
    --radius-md: 32px;
    --radius-lg: 40px;

    /* Shadow */
    --shadow-xxs: 0 1px 2px 0 rgba(9, 3, 9, 0.05);
    --shadow-xs: 0 1px 3px 0 rgba(9, 3, 9, 0.1), 0 1px 2px 0 rgba(9, 3, 9, 0.06);
    --shadow-sm: 0 4px 8px -2px rgba(9, 3, 9, 0.1), 0 2px 4px -2px rgba(9, 3, 9, 0.06);
    --shadow-md: 0 12px 16px -4px rgba(9, 3, 9, 0.08), 0 4px 6px -2px rgba(9, 3, 9, 0.03);
    --shadow-lg: 0 20px 24px -4px rgba(9, 3, 9, 0.08), 0 8px 8px -4px rgba(9, 3, 9, 0.03);
    --shadow-xl: 0 24px 48px -12px rgba(9, 3, 9, 0.18);
    --shadow-xxl: 0 32px 64px -12px rgba(9, 3, 9, 0.14);

    /* Custom Spacing */
    --spacing: 1px;


    /* Font */
    --font-primary: Merriweather, Georgia, "Times New Roman", serif;
    --font-secondary: "Public Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;
}
