@import './app.css';
@import 'tailwindcss';

html,
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    width: 100vw;
    height: 100%;
    overflow-x: hidden;
}

a {
    color: inherit;
    text-decoration: none;
}
