.aboutImage {
    width: 100%;
    height: auto;
    max-width: 100%;
    object-fit: cover;
    max-height: 400px;

    @media (min-width: 768px) {
        max-height: 600px;
    }

    @media (min-width: 1920px) {
        max-height: 900px;
    }
}
