---
import Box from "../../components/Box/Box.astro";
import Text from "../../components/Text/Text.astro";
import ContactElement from "./subcomponents/ContactElement/ContactElement.astro";
import {Mail, Phone, MapPin, Landmark, Banknote} from "lucide-astro";
---


<Box direction="column" px={[20, 80]} pt={[64, 112]} pb={[64, 80]} gap={[48, 64]} align="center" id="kontakt">
    <Box direction='column' gap={[48, 80]}>
        <Box direction="column" gap={24} align="stretch" height="100%">
            <Box direction="column" gap={16}>
                <Text variant="tagline">Kontakt</Text>
                <Box direction="column" gap={24}>
                    <Text variant="heading-2">Skontaktuj się</Text>
                    <Text variant="text-medium">Jesteśmy tutaj, aby odpowiedzieć na Twoje pytania i pomóc w każdej
                        sytuacji.
                    </Text>
                </Box>
            </Box>
        </Box>
        <Box direction={["column", "row"]} gap={24}>
            <ContactElement elementName="E-mail">
                <Mail slot="icon"/>
                <a href="mailto:pogodna@jesien.com.pl">pogodna@jesien.com.pl</a>
            </ContactElement>
            <ContactElement elementName="Telefon">
                <Phone slot="icon"/>
                <Text variant="text-regular">32 284 54 59</Text>
                <Text variant="text-regular">32 284 54 62</Text>
            </ContactElement>
            <ContactElement elementName="Adres">
                <MapPin slot="icon"/>
                <Text variant="text-regular">ul. ks. H. Renka 63</Text>
                <Text variant="text-regular">42-603 Tarnowskie Góry</Text>
            </ContactElement>
            <ContactElement elementName="NIP">
                <Landmark slot="icon"/>
                <Text variant="text-regular">645 249 78 64</Text>
            </ContactElement>
            <ContactElement elementName="Bank">
                <Banknote slot="icon"/>
                <Text variant="text-regular">Santander BP S.A.</Text>
                <Text variant="text-regular" textWrap="nowrap">09 1090 2011 0000 0001 1302 4243</Text>
                <Text variant="text-regular">SWIFT: WBKPPLPP</Text>
            </ContactElement>
        </Box>
    </Box>
    <Box direction="column" height="100%" width="100%" align="stretch">
        <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2100.907131393209!2d18.80668648938962!3d50.42088576458034!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x471129425abce421%3A0xcdabae3a73b40fa1!2sPensjonat+Seniora+%22Pogodna+Jesie%C5%84%22!5e0!3m2!1spl!2spl!4v1553370849561"
                width="100%"
                height="640px"
                style="border:0"
                allowfullscreen
                loading="lazy"
                title="Mapa lokalizacji Pensjonat Seniora Pogodna Jesień"
        />

    </Box>

</Box>
