---
import Box from '@components/Box/Box.astro'
import Button from '@components/Button/Button.astro'
import Input from '@components/Inputs/Input/Input.astro'
import TextArea from '@components/Inputs/TextArea/TextArea.astro'
import Modal from '@components/Modal/Modal.astro'
import { modalHidden } from '@components/Modal/styles.css'
import Text from '@components/Text/Text.astro'

import { styledContactForm } from './styles.css'
---

<Modal id="contact-modal" className={modalHidden}>
  <Box direction="column" gap={16} align="center" slot="modal-header">
    <Text variant="heading-2">Napisz do nas</Text>
    <Text variant="text-medium"> Chętnie odpowiemy na wszelkie pytania.</Text>
  </Box>
  <form
    name="contact-form"
    slot="modal-content"
    id="contact-form"
    method="POST"
    data-netlify="true"
    action="/#formularz-kontaktowy-success"
    data-netlify-honeypot="bot-field"
    class={styledContactForm}
  >
    <div style="display: none;">
      <label
        >Don't fill this out if you're human:
        <input name="bot-field" />
      </label>
    </div>
    <Input
      type="text"
      id="contact-name"
      required
      pattern="^[a-zA-ZąćęłńóśźżĄĆĘŁŃÓŚŹŻ]+( +[a-zA-ZąćęłńóśźżĄĆĘŁŃÓŚŹŻ]+)* *$"
      errorMessage="Podaj imię i nazwisko."
      requiredMessage="Imię i nazwisko jest wymagane."
      name="name"
      label="Imię i nazwisko"
      placeholder="Imię i nazwisko"
    />
    <Input
      type="text"
      id="contact-email"
      required
      pattern="[a-z0-9._%+\-]+@[a-z0-9.\-]+\.[a-z]{2,}$"
      errorMessage="Podaj poprawny adres e-mail w formacie: example@example.com"
      requiredMessage="E-mail jest wymagany."
      name="email"
      label="E-mail"
      placeholder="E-mail"
    />
    <Input
      type="text"
      id="contact-phone"
      required
      pattern="^[\d\s\-\+\(\)]{9,15}$"
      errorMessage="Podaj poprawny numer telefonu."
      requiredMessage="Numer telefonu jest wymagany."
      name="phone"
      label="Numer telefonu"
      placeholder="Numer telefonu"
    />
    <TextArea
      name="message"
      required
      label="Twoja wiadomość"
      id="contact-message"
      placeholder="Twoja wiadomość"
    />
    <Button
      type="submit"
      variant="primary"
      form="contact-form"
      id="contact-submit"
      size="large"
      >Wyślij
    </Button>
  </form>
</Modal>
