---
import Box from "../components/Box/Box.astro";
import Text from "../components/Text/Text.astro";
import Image from "../components/Image/Image.astro";
import careImage from '../assets/care.jpg'
import Button from "../components/Button/Button.astro";
---

<Box direction="column" px={[20, 80]} pt={[64, 112]} pb={[64, 80]} gap={[48, 80]}>
    <Box direction={["column", "row"]} gap={[20, 80]}>
        <Box direction="column" justify="start" gap={[12, 16]}>
            <Text variant="tagline">Opieka</Text>
            <Text variant="heading-2">Nasza Misja: Szacunek i Dostosowana Opieka</Text>
        </Box>
        <Box direction="column" justify="start" gap={[24, 32]}>
            <Text variant="text-medium">Naszym celem jest zapewnienie godnej i pełnej szacunku opieki, dostosowanej do
                indywidualnych potrzeb każdego mieszkańca. Z dumą oferujemy usługi oparte na wieloletnim doświadczeniu
                oraz
                profesjonalizmie naszego zespołu. Wierzymy, że każdy zasługuje na opiekę, która wspiera ich godność i
                samodzielność.
            </Text>
            <Button variant="outline">Skontaktuj się</Button>
        </Box>
    </Box>
    <Image src={careImage} alt="Our Halloween party" loading="lazy" width={1280} height={738} borderRadius="lg"/>
</Box>

