---
import Box from "../components/Box/Box.astro";
import Button from "../components/Button/Button.astro";
import logo from '../assets/logo.svg'
---

<Box position="sticky" top={0} left={0} zIndex="50" bgColor="neutral_white" shadow="md" px={64} py={20} width="100%"
     height={84} justify="space-between" align="center">
    <Box height="52px" width="fit-content" justify="start">
        <img src={logo.src} alt="Logo" loading="eager" width="100%" height="100%"/>
    </Box>
    <Box width="fit-content">
        <Button variant="ghost" href="/">O nas</Button>
        <Button variant="ghost" href="/">Opieka</Button>
        <Button variant="ghost" href="/">Oferta</Button>
        <Button variant="ghost" href="/">Terapia i zajęcia</Button>
        <Button variant="ghost" href="/">Cennik</Button>
        <Button variant="ghost" href="/">Kontakt</Button>
    </Box>
    <Box wrap="nowrap" width="fit-content">
        <Button variant="primary">Dowiedz się więcej</Button>
    </Box>

</Box>
