---
import { Download } from 'lucide-astro'

import Box from '@components/Box/Box.astro'
import Button from '@components/Button/Button.astro'
import Text from '@components/Text/Text.astro'

import SectionLayout from '@layouts/SectionLayout.astro'

import PriceFeature from './subcomponents/PriceFeature.astro'
import PriceTile from './subcomponents/PriceTile.astro'

import { pricingInfoItem } from './styles.css'
---

<SectionLayout
  isCentered
  isWithBorder
  sectionId="cennik"
  isWithSmallPb
  isWithSmallPt
>
  <Box direction="column" gap={['20px', '24px']} align="center">
    <Text variant="tagline">Cennik</Text>
    <Text variant="heading-2" textAlign="center">
      Koszt pobytu w naszym Domu
    </Text>
    <Text variant="body-medium" textAlign="center">
      Przejrzysty cennik dla krótkoterminowych i długoterminowych pobytów
    </Text>
  </Box>
  <Box direction={['column', 'row']} gap="48px">
    <Box direction="column" gap={['20px', '24px']} align="center">
      <Text variant="heading-4" textAlign="center" tag="p">
        Pobyt krótkoterminowy
      </Text>
      <Box direction="column" justify="space-between" gap={['20px', '24px']}>
        <PriceTile price="270zł" title="Pokój jednoosobowy" period="za dobę">
          <Box
            direction="column"
            align="flex-start"
            justify="center"
            width="fit-content"
            gap="16px"
          >
            <PriceFeature text="Całodobowa opieka opiekunek" />
            <PriceFeature text="Długość pobytu do miesiąca" />
            <PriceFeature text="Pełne wyżywienie" />
            <PriceFeature text="Opieka pielęgniarek i lekarza" />
          </Box>
        </PriceTile>
        <PriceTile price="240zł" title="Pokój dwuosobowy" period="za dobę">
          <Box
            direction="column"
            align="flex-start"
            justify="center"
            width="fit-content"
            gap="16px"
          >
            <PriceFeature text="Całodobowa opieka opiekunek" />
            <PriceFeature text="Długość pobytu do miesiąca" />
            <PriceFeature text="Pełne wyżywienie" />
            <PriceFeature text="Opieka pielęgniarek i lekarza" />
          </Box>
        </PriceTile>
      </Box>
    </Box>
    <Box direction="column" gap={['20px', '24px']} align="center">
      <Text variant="heading-4" textAlign="center" tag="p">
        Pobyt długoterminowy
      </Text>
      <Box direction="column" justify="space-between" gap={['20px', '24px']}>
        <PriceTile
          price="od 6000zł"
          title="Pokój jednoosobowy"
          period="za miesiąc"
        >
          <Box
            direction="column"
            align="flex-start"
            justify="center"
            width="fit-content"
            gap="16px"
          >
            <PriceFeature text="Całodobowa opieka opiekunek" />
            <PriceFeature text="Zniżka za pobyt długoterminowy" />
            <PriceFeature text="Pełne wyżywienie" />
            <PriceFeature text="Opieka pielęgniarek i lekarza" />
          </Box>
        </PriceTile>
        <PriceTile
          price="od 5500zł"
          title="Pokój dwuosobowy"
          period="za miesiąc"
        >
          <Box
            direction="column"
            align="flex-start"
            justify="center"
            width="fit-content"
            gap="16px"
          >
            <PriceFeature text="Całodobowa opieka opiekunek" />
            <PriceFeature text="Zniżka za pobyt długoterminowy" />
            <PriceFeature text="Pełne wyżywienie" />
            <PriceFeature text="Opieka pielęgniarek i lekarza" />
          </Box>
        </PriceTile>
      </Box>
    </Box>
  </Box>
  <Box direction="column" gap={['20px', '24px']}>
    <Text variant="heading-4" textAlign="center" tag="p"
      >Dodatkowe Informacje</Text
    >
    <Box
      direction={['column', 'row']}
      gap={['64px', '80px']}
      justify="space-between"
    >
      <Text variant="body-medium" class={pricingInfoItem}>
        Dla osób z chorobą Alzheimera, zaawansowaną demencją lub wymagających
        szczególnej opieki obowiązuje dopłata w wysokości 600 zł miesięcznie.
      </Text>
      <Box direction="column" gap="16px" class={pricingInfoItem}>
        <Text variant="body-medium">
          Przed przyjęciem prosimy o dostarczenie wypisu ze szpitala z
          ostatniego miesiąca lub zaświadczenia lekarskiego o stanie zdrowia, do
          pobrania poniżej:
        </Text>
        <a href="/zaswiadczenie.pdf" download="szablon-zaswiadczenia.pdf">
          <Button variant="outline" size="small">
            <Box direction="row" align="center" gap="10px">
              <Download />
              <Text variant="body-regular" weight={500}
                >Pobierz szablon zaświadczenia</Text
              >
            </Box>
          </Button>
        </a>
      </Box>
    </Box>
  </Box>
</SectionLayout>
