:root {
    --neutral-white: rgb(255, 255, 255);
    --neutral-lightest: rgb(242, 242, 242);
    --neutral-lighter: rgb(218, 217, 218);
    --neutral-light: rgb(181, 179, 181);
    --neutral: rgb(132, 129, 132);
    --neutral-dark: rgb(82, 78, 82);
    --neutral-darker: rgb(33, 28, 33);
    --neutral-darkest: rgb(9, 3, 9);

    --luxor-gold-lightest: rgb(245, 243, 235);
    --luxor-gold-lighter: rgb(236, 231, 215);
    --luxor-gold-light: rgb(190, 171, 115);
    --luxor-gold: rgb(163, 136, 55);
    --luxor-gold-dark: rgb(130, 108, 44);
    --luxor-gold-darker: rgb(65, 54, 22);
    --luxor-gold-darkest: rgb(48, 40, 16);
}
