---
import type {ResponsiveRadius} from "../../tokens/Radius/types";
import type {Color} from "../../tokens/Colors/types";
import type {Shadow} from "../../tokens/Shadows/types";
import type {Align, Direction, Display, Justify, Overflow, Position, Wrap} from "../../utils/types";

interface Props {
    bgColor?: Color
    shadow?: Shadow
    position?: Position
    borderRadius?: ResponsiveRadius
    isWithBorder?: boolean
    direction?: Direction
    justify?: Justify
    align?: Align
    gap?: number
    width?: number | '100%'
    maxWidth?: number | '100%'
    minWidth?: number | '100%'
    height?: number | '100%'
    maxHeight?: number | '100%'
    minHeight?: number | '100%'
    wrap?: Wrap
    overflow?: Overflow
    zIndex?: number
    display?: Display
    role?: astroHTML.JSX.HTMLAttributes['role']
    'data-testid'?: string
}

---

<div class="box">
    <slot />
</div>


