---
import type {ResponsiveRadius} from "../../tokens/Radius/types";
import type {Color} from "../../tokens/Colors/types";
import {Shadow} from "../../tokens/Shadows/types";

interface Props {
    children: astroHTML.JSX.Element;
    bgColor?: Color
    shadow?: Shadow
    borderRadius?: ResponsiveRadius
    borderWidth?: number | string
    borderColor?: BorderColor
    direction?: ResponsiveDirection
    justify?: ResponsiveJustify
    align?: ResponsiveAlign
    gap?: ResponsiveGap
    width?: ResponsiveSize
    maxWidth?: ResponsiveSize
    minWidth?: ResponsiveSize
    height?: ResponsiveSize
    maxHeight?: ResponsiveSize
    minHeight?: ResponsiveSize
    wrap?: ResponsiveWrap
    overflow?: ResponsiveOverflow
    zIndex?: number
    display?: React.CSSProperties['display']
    role?: AriaRole
    component?: T
    'data-testid'?: string
}
// & Spacing &
// Position
---

<div class="box">
    {children}
</div>


