---
import '@styles/fonts.css'
import '@splidejs/splide/css'

import { Head } from 'astro-capo'

import Footer from '@sections/Footer/Footer.astro'
import Header from '@sections/Header/Header.astro'

import ContactModal from '../sections/ContactModal/ContactModal.astro'
---

<!doctype html>
<html lang="pl">
  <Head>
    <!-- Google Tag Manager -->
    <script is:inline>
      ;(function (w, d, s, l, i) {
        w[l] = w[l] || []
        w[l].push({ 'gtm.start': new Date().getTime(), event: 'gtm.js' })
        var f = d.getElementsByTagName(s)[0],
          j = d.createElement(s),
          dl = l != 'dataLayer' ? '&l=' + l : ''
        j.async = true
        j.src = 'https://www.googletagmanager.com/gtm.js?id=' + i + dl
        f.parentNode.insertBefore(j, f)
      })(window, document, 'script', 'dataLayer', 'GTM-54QJC2MJ')
    </script>
    <!-- End Google Tag Manager -->

    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />

    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="icon" type="image/png" href="/favicon-64.png" />
    <link rel="apple-touch-icon" href="/apple-touch-icon.png" />

    <meta name="generator" content={Astro.generator} />
    <title>Pensjonat Pogodna Jesień | Dom Opieki Tarnowskie Góry Śląskie</title>
    <meta
      name="description"
      content="Dom opieki dla seniorów w Tarnowskich Górach, województwo śląskie. Profesjonalna opieka medyczna, pokoje bez barier, lokalizacja przy parku. Pensjonat Pogodna Jesień - 18 lat doświadczenia."
    />
  </Head>
  <body>
    <!-- Google Tag Manager (noscript) -->
    <noscript
      ><iframe
        src="https://www.googletagmanager.com/ns.html?id=GTM-54QJC2MJ"
        height="0"
        width="0"
        style="display:none;visibility:hidden"></iframe></noscript
    >
    <!-- End Google Tag Manager (noscript) -->
    <Header />
    <slot />
    <Footer />
    <ContactModal />
    <script>
      import '@scripts/menuHamburger.ts'
    </script>
  </body>
</html>

<style>
  html,
  body {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    width: 100vw;
    height: 100%;
    overflow-x: hidden;
  }

  a {
    color: inherit;
    text-decoration: none;
  }
</style>
