---
import '../styles/fonts.css'
import Header from '../sections/Header/Header.astro'
---

<!doctype html>
<html lang="pl">
  <head>
    <!-- Google Tag Manager -->
    <!--<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':-->
    <!--        new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],-->
    <!--    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=-->
    <!--    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);-->
    <!--})(window,document,'script','dataLayer','GTM-54QJC2MJ');</script>-->
    <!-- End Google Tag Manager -->

    <!--TODO: remove-->
    <meta name="robots" content="noindex, nofollow" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Pensjonat Seniora Pogodna Jesień | Dom Opieki Tarnowskie Góry</title>
    <meta
      name="description"
      content="Dom opieki dla seniorów w Tarnowskich Górach. Profesjonalna opieka, pokoje bez barier architektonicznych, lokalizacja przy parku. Pensjonat Pogodna Jesień od 2006 roku."
    />
  </head>
  <body>
    <!-- Google Tag Manager (noscript) -->
    <!--<noscript>-->
    <!--    <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-54QJC2MJ"-->
    <!--            height="0" width="0" style="display:none;visibility:hidden"></iframe>-->
    <!--</noscript>-->
    <!-- End Google Tag Manager (noscript) -->
    <Header />
    <slot />
  </body>
</html>

<style>
  html,
  body {
    margin: 0;
    width: 100vw;
    height: 100%;
  }

  a {
    color: inherit;
    text-decoration: none;
  }
</style>
