---
import '../styles/fonts.css';
---

<!doctype html>
<html lang="en">
<head>
    <!--TODO: remove-->
    <meta name="robots" content="noindex, nofollow">
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width"/>
    <link rel="icon" type="image/svg+xml" href="/favicon.svg"/>
    <meta name="generator" content={Astro.generator}/>
    <title>Pensjonat Seniora Pogodna Jesień | Dom Opieki Tarnowskie Góry</title>
    <meta name="description"
          content="Dom opieki dla seniorów w Tarnowskich Górach. Profesjonalna opieka, pokoje bez barier architektonicznych, lokalizacja przy parku. Pensjonat Pogodna Jesień od 2006 roku."/>

</head>
<body>
<slot/>
</body>
</html>

<style>
    html,
    body {
        margin: 0;
        width: 100vw;
        height: 100%;
    }
</style>
