---
import Text from '@components/Text/Text.astro'

import styles from './Link.module.css'

interface Props {
  href: string
  target?: string
}

const { href, target } = Astro.props
---

<a class={styles.link} href={href} target={target}>
  <Text variant="body-regular" textDecoration="underline" class={styles.link}>
    <slot />
  </Text>
</a>
