---
import Text from '@components/Text/Text.astro'

import { styledLink } from './styles.css'

interface Props {
  href: string
  target?: string
}

const { href, target } = Astro.props
---

<a class={styledLink} href={href} target={target}>
  <Text variant="text-regular" textDecoration="underline" class={styledLink}>
    <slot />
  </Text>
</a>
